<% include ./splices/head %>
<% include ./splices/header %>

<div>
	<% include ./splices/forms/list_form %>
</div>
<div>
	<% include ./splices/forms/item_form %>
</div>

<% include ./splices/footer %>