<% include ./splices/head %>
<% include ./splices/header %>

<ul id="todo-lists"></ul>

<% include ./splices/footer %>

<script>

	$(document).ready(function() {

		function todoListDOM(list) {
			let todoList = document.getElementById('todo-lists'), li;

			for (var i = 0; i < list.length; i++) {
				li = `<li id='${list[i].id}' class='item-${i}'><a href='/list/${list[i].id}'>Name: ${list[i].name} | count: ${list[i].todo_count} | id: ${list[i].id}</a></li>`

				$(todoList).append(li)
			}

		}

		$.ajax({
			url: "http://localhost:1337/lists",
			dataType: 'jsonp',
			context: document.body
		}).done((res) => { (res.status === 200)? todoListDOM(res.data) : console.log("ERROR: Refresh Page") });

	})

</script>