<% include ./splices/head %>
<% include ./splices/header %>


<p id="list-title">List <%= id %></p>


<!-- <form id="delete-list-form" action="http://localhost:1337/update_list" method="post">
	<input type="text" name="id" id="list-form-id">

	<div class="button">
		<button id="list-edit-button">Edit</button>
	</div>
</form> -->

<form id="delete-list-form" action="http://localhost:1337/delete_list/<%= id %>" method="post">
	<div class="button">
		<button id="list-delete-button" type="submit">Delete</button>
	</div>
</form>

<ul id="todo-items"></ul>

<% include ./splices/footer %>

<script>

	$(document).ready(function() {

		function listDOM(list) {
			let listTitle = document.getElementById('list-title');

			$(listTitle).html(`${list.name} | todos: ${list.todo_count} | id: ${list.id} `)

		}

		function todoItemsDOM(items) {
			let todoItems = document.getElementById('todo-items'), li;

			for (var i = 0; i < items.length; i++) {
				li = `<li id='${items[i].id}' class='item-${i}'><a href='/todo/${items[i].id}'>Name: ${items[i].text} | active: ${(items[i].active==1)}</a></li>`

				$(todoItems).append(li)
			}

		}

		$.ajax({
			url: 'http://localhost:1337/list/'+'<%= id %>',
			dataType: 'jsonp',
			context: document.body
		}).done((res) => { (res.status === 200)? listDOM(res.data) : console.log("ERROR: Refresh Page") });

		$.ajax({
			url: 'http://localhost:1337/list/'+'<%= id %>'+'/todos',
			dataType: 'jsonp',
			context: document.body
		}).done((res) => { (res.status === 200)? todoItemsDOM(res.data) : console.log("ERROR: Refresh Page") });


	})

</script>