<h3>ITEM FORM</h3>

<form id="item-form" action="http://localhost:1337/todo" method="post">

	<label for="item-form-text">Item Name</label>
	<input type="text" name="text" id="item-form-text">

	<label for="item-form-list-ref">List Ref</label>
	<input type="text" name="list_ref" id="item-form-list-ref">

	<div class="button">
		<button type="submit">Create Item</button>
	</div>
</form>