<h3>LIST FORM</h3>

<form id="list-form" action="http://localhost:1337/list" method="post">

	<label for="list-form-text">List Name</label>
	<input type="text" name="text" id="list-form-text">

	<div class="button">
		<button type="submit">Create List</button>
	</div>
</form>